.cardContent {
	margin: 10px;
	font-family: 'Anton', sans-serif;
}

.topCard {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
}

.weekImg {
	background-color: white;
	padding: 25px;
}

.banner {
	background-color: rgb(235, 50, 45);
	padding-bottom: 15px;
}

.social {
	padding: 0;
}
